@media screen and (min-width: 992px) and (max-width: 1200px) {
    .admission-img-container{
        grid-template-columns: repeat(4, 1fr);
    }
   .admission-semi-circle-1,
   .admission-semi-circle-2,
   .admission-semi-circle-3,
   .admission-semi-circle-4,
   .admission-semi-circle-5,
   .admission-semi-circle-6 {
      width: 130%;
    }
   .admission-semi-circle-2 .admission-content p{
        font-size: 16px;
        line-height: 25px;
    }
    .admission-semi-circle-3 .admission-content {
      width: 50%;
    }
    .admission-semi-circle-3 .admission-content p{
        font-size: 16px;
        line-height: 25px;
    }
    .admission-semi-circle-4 .small-text {
      font-size: 14px;
    }
    .admission-content > div p.title-level-1{
        font-size: 32px;
        line-height: 45px;
    }
    
     .admission-semi-circle-5 .registration-form-container-1 .input-container {
      padding: 10px 20px 10px 90px;
    }
    .admission-semi-circle-5 .registration-form-container-1 .input-container input {
      padding: 15px 10px;
    }
    .admission-semi-circle-6 .registration-form-container-2{
      margin-top: -30px;
      padding-top: 60px;
      width: 80vw;
    }
    .admission-semi-circle-6 .registration-form-container-2 .input-container{
      padding: 20px 20px 12px 75px;
    }

}