/*******************************************************
 *                                                     *
 *             OUR STORY                               *
 *                                                     *
 *******************************************************/

.our-story-1 {
  transform: translateY(100%);
}

.our-story-semi-circle-1,
.our-story-semi-circle-2,
.our-story-semi-circle-3,
.our-story-semi-circle-4,
.our-story-semi-circle-5,
.our-story-semi-circle-6 {
  width: 130%;
  height: 100%;
  border-radius: 50% 50% 0% 0%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.our-story-semi-circle-1 {
  background-color: var(--color-yellow);
}
.our-story-semi-circle-2 {
  background-color: var(--color-orange);
}
.our-story-semi-circle-3 {
  background-color: var(--color-red);
}
.our-story-semi-circle-4 {
  background-color: var(--color-purple);
}
.our-story-semi-circle-5 {
  background-color: var(--color-blue);
}
.our-story-semi-circle-6 {
  background-color: var(--color-white);
}

/*******************************************************
 *                                                     *
 *             Our story screen 1                     *
 *                                                     *
 *******************************************************/
.our-story-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #000; */
  z-index: 50;
  margin-top: 2%;
  text-align: center;
}

.our-story-content button {
  color: var(--color-yellow);
  background-color: #fff;
  border-radius: 50px;
  font-family: "MontserratRegular";
  padding: 10px;
  border: none;
  font-size: 16px;
  font-weight: 800;
}

.img-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  width: 70%;
  /* height: 40vh; */
  margin: 5% auto;
  /* border: 1px solid black; */
  gap: 20px; /* Space between each item */
  padding: 5%;
}

.img-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%; /* Width to fit 4 items in a row on large screens */
  /* border: 1px solid black; */
  padding: 10px; /* Padding for spacing within each item */
  box-sizing: border-box;
}

.img-container img {
  width: 100%;
  max-width: 80px; /* Set a max width for images */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Space between image and text */
}

.img-container > div p {
  /* border: 1px solid black; */
  text-align: center;
  font-size: 14px; /* Adjust font size */
  margin-top: 8px;
  font-family: "MontserratRegular";
}

/* Specific styles for the fourth item, if needed */
.img-container > div:nth-child(4) img {
  max-width: 150px; /* Example width adjustment for a specific item */
}

.img-container > div:nth-child(1) p {
  color: var(--color-orange);
}
.img-container > div:nth-child(2) p {
  color: var(--color-red);
}
.img-container > div:nth-child(3) p {
  color: var(--color-purple);
}
.img-container > div:nth-child(4) p {
  color: var(--color-blue);
}
/*******************************************************
 *                                                     *
 *             Our story screen 2                     *
 *                                                     *
 *******************************************************/

.our-story-2 > .our-story-semi-circle-2 > .our-story-content > button {
  color: var(--color-orange);
}
.our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(1) {
  font-family: "MontserratRegular";
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(2) {
  font-family: "MontserratRegular";
  font-size: 14px;
  line-height: 25px;
  width: 45%;
  margin: auto;
  margin-top: 1%;
}

/*******************************************************
 *                                                     *
 *             Our story screen 3                     *
 *                                                     *
 *******************************************************/
.our-story-3 > .our-story-semi-circle-3 > .our-story-content > button {
  color: var(--color-red);
}
.our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(1) {
  font-family: "MontserratRegular";
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(2) {
  font-family: "MontserratRegular";
  font-size: 14px;
  line-height: 20px;
  width: 45%;
  margin: auto;
  margin-top: 1%;
}

.our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(3) {
  font-family: "MontserratRegular";
  font-size: 14px;
  line-height: 25px;
  width: 45%;
  margin: auto;
  /* margin-top: 1%; */
}

.our-story-after-values {
  font-family: "MontserratRegular";
  font-size: 14px;
  line-height: 25px;
  width: 45%;
  margin: auto;
  /* margin-top: 1%; */
}

.our-story-values-list {
  display: flex;
  gap: 20px; /* Space between circles */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Wraps circles to the next line if needed */
}

.our-story-values-list div {
  font-family: "MontserratRegular";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Makes the div circular */
  text-align: center;
  color: #fff; /* Text color */
  padding: 10px;
  font-size: 12px;
  border: 1px solid #fff;
  margin: 5px 0;
}

/* Assign different background colors to each circle */
.our-story-values-list div:nth-child(1) {
  background-color: var(--color-yellow);
}

.our-story-values-list div:nth-child(2) {
  background-color: var(--color-orange);
}

.our-story-values-list div:nth-child(3) {
  background-color: var(--color-red);
}

.our-story-values-list div:nth-child(4) {
  background-color: var(--color-purple);
}

.our-story-values-list div:nth-child(5) {
  background-color: var(--color-blue);
}

.our-story-founder {
  display: flex;
  align-items: center; /* Aligns items vertically */
  justify-content: center; /* Centers items horizontally */
}

.founder-image {
  width: 120px; /* Set a width for the image */
  height: auto;
  margin-right: 20px; /* Space between the image and text */
}

#founder-text {
  display: flex;
  flex-direction: column; /* Stack text vertically */
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
}

#founder-text p:nth-child(1) {
  font-size: 14px !important;
  text-transform: none;
}
#founder-text p:nth-child(2) {
  font-size: 14px;
  text-align: left;
  width: 100%;
}

/*******************************************************
 *                                                     *
 *             Our story screen 4                     *
 *                                                     *
 *******************************************************/
.our-story-semi-circle-4 > .our-story-content > button {
  color: var(--color-purple);
}
.our-story-semi-circle-4 > .our-story-content p:nth-child(1) {
  font-family: "MontserratRegular";
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.our-story-semi-circle-4 > .our-story-content p:nth-child(2) {
  font-family: "MontserratRegular";
  font-size: 14px;
  line-height: 25px;
  width: 30%;
  margin: auto;
  margin-top: 1%;
}

.our-story-image-container {
  position: absolute;
  bottom: 18%; /* Fix the container at the bottom */
  left: 0; /* Align to the left */
  width: 100%; /* Full width to cover the bottom of the page */
  height: auto; /* Automatic height based on image */
  z-index: 50;
}

.semicircle-image {
  position: relative;
  left: 50%; /* Center the image horizontally */
  transform: translateX(-50%); /* Correct horizontal positioning */
  width: 25%; /* Adjust the size of the image as needed */
  height: auto; /* Maintain aspect ratio */
}

/*******************************************************
 *                                                     *
 *             Our story screen 5                     *
 *                                                     *
 *******************************************************/

.our-story-semi-circle-5 > .our-story-content > button {
  color: var(--color-blue);
}
.our-story-semi-circle-5 > .our-story-content p:nth-child(1) {
  font-family: "MontserratRegular";
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.our-story-semi-circle-5 > .our-story-content p:nth-child(2) {
  font-family: "MontserratRegular";
  font-size: 14px;
  line-height: 25px;
  width: 45%;
  margin: auto;
  margin-top: 1%;
}

.team-container {
  max-width: 800px; /* Set a max width for the container */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding */
  /* overflow-y: auto; */
  height: 350px;
  /* border: 1px solid black; */
  margin-bottom: 10%;
}

.team-container-2 {
  max-width: 800px; /* Set a max width for the container */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding */
  /* overflow-y: auto; */
  /* height: 350px; */
  /* border: 1px solid black; */
  /* margin-bottom: 10%; */
  margin-top: 2%;
}

.team-member {
  display: flex;
  align-items: center; /* Center align items vertically */
  margin-bottom: 10px;
  /* border: 1px solid white; */
}

.team-member.left {
  flex-direction: row; /* Image on the left */
  align-items: flex-start;
  justify-content: flex-start;
}

.team-member.right {
  /* flex-direction: row-reverse;  */
  justify-content: flex-end;
}

.team-member img {
  width: 150px;
  height: auto; /* Maintain aspect ratio */
  margin: 0 20px; /* Space between image and text */
}

.team-text-container {
  /* width: 70%; */
  max-width: 500px;
  font-family: "MontserratRegular";
  font-size: 10px;
  /* line-height: 25px; */
  /* width: 45%; */
  /* margin: auto; */
  margin-top: 1%;
}
.team-member.left .team-text-container {
  text-align: left;
}
.team-member.right .team-text-container {
  text-align: right;
}
.team-text-container p {
  margin: 5px 0;
}

.team-text-container p:nth-child(1) {
  font-weight: bold; /* Make name bold */
  font-size: 12px; /* Set font size for name */
}

.team-text-container p:nth-child(2) {
  /* font-style: italic; */
  font-size: 12px; /* Set font size for designation */
  margin-top: -1px;
}

.team-text-container p:nth-child(3) {
  font-size: 11px; /* Set font size for description */
  line-height: 15px;
}

/*******************************************************
 *                                                     *
 *             Our story screen 6                     *
 *                                                     *
 *******************************************************/

/*******************************************************
 *                                                     *
 *             RESPONSIVE FOR OUR STORY                    *
 *                                                     *
 *******************************************************/

/* media queries for small screen sizes */

@media screen and (max-width: 575.98px) {
  .our-story-semi-circle-1,
  .our-story-semi-circle-2,
  .our-story-semi-circle-3,
  .our-story-semi-circle-4,
  .our-story-semi-circle-5,
  .our-story-semi-circle-6 {
    width: 170%;
    height: 100%;
    border-radius: 50% 50% 0% 0%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }

  .our-story-content button {
    margin-top: 4%;
    font-size: 14px;
  }

  .img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: nowrap;
    justify-content: center;
    width: 50%;
    margin: 10% auto;
    /* border: 1px solid black; */
    gap: 20px;
  }

  .img-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .img-container img {
    width: 50px;
    margin-bottom: 10px;
  }

  .img-container > div p {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 14px; /* Adjust font size */
    margin-top: 8px;
    font-family: "MontserratRegular";
    white-space: nowrap;
  }

  /* Specific styles for the fourth item, if needed */
  .img-container > div:nth-child(4) img {
    width: 70px;
  }

  /* ORANGE  */

  .our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(1) {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 1px;
  }

  .our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(2) {
    font-size: 10px;
    line-height: 14px;
    width: 50%;
    margin: auto;
    margin-top: 1%;
    /* overflow: visible; */
  }

  /* RED Screen  */

  .our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(1) {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
  }

  .our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(2) {
    font-size: 10px;
    line-height: 16px;
  }

  .our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(3) {
    font-size: 10px;
    line-height: 16px;
    width: 45%;
    margin-top: 1%;
  }

  .our-story-after-values {
    font-size: 10px;
    line-height: 16px;
    margin-top: 1%;
    /* border: 1px solid black; */
  }

  .our-story-values-list {
    gap: 2px;
  }

  .our-story-values-list div {
    font-family: "MontserratRegular";
    width: 50px;
    height: 50px;
    font-size: 8px;
    margin: 10px 0;
  }

  .our-story-founder {
    width: 40%;
    margin: auto;
  }

  .founder-image {
    width: 85px; /* Set a width for the image */
    margin-right: 15px; /* Space between the image and text */
  }

  #founder-text {
    gap: 0px;
  }

  #founder-text p:nth-child(1) {
    font-size: 10px !important;
    letter-spacing: 0px;
  }
  #founder-text p:nth-child(2) {
    font-size: 10px;
  }

  /* PURPLE  */

  .our-story-semi-circle-4 > .our-story-content p:nth-child(1) {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 1px;
  }

  .our-story-semi-circle-4 > .our-story-content p:nth-child(2) {
    font-size: 11px;
    line-height: 20px;
    width: 50%;
    margin: auto;
    margin-top: 1%;
  }

  .our-story-image-container {
    bottom: 20%;
    z-index: 10;
  }

  .semicircle-image {
    width: 550px;
  }

  /* BLUE  */

  .our-story-semi-circle-5 > .our-story-content p:nth-child(1) {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
  }

  .our-story-semi-circle-5 > .our-story-content p:nth-child(2) {
    font-size: 10px;
    line-height: 18px;
    width: 48%;
  }

  .team-container {
    max-width: 320px;
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add some padding */
    overflow-y: auto;
    height: 350px;
    /* border: 1px solid black; */
    margin-bottom: 10%;
  }
  .team-container-2 {
    max-width: 320px; /* Set a max width for the container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add some padding */
    /* overflow-y: auto; */
    /* height: 350px; */
    /* margin-bottom: 10%; */
    margin-top: 2%;
  }

  .team-member {
    display: flex;
    align-items: center; /* Center align items vertically */
    margin-bottom: 5px;
    /* border: 1px solid white; */
    width: 100%;
  }

  .team-member.left {
    flex-direction: row; /* Image on the left */
    align-items: flex-start;
    justify-content: flex-start;
  }

  .team-member.right {
    /* flex-direction: row-reverse;  */
    justify-content: flex-end;
  }

  .team-member img {
    width: 80px;
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Space between image and text */
  }

  .team-text-container {
    max-width: 500px;
    font-family: "MontserratRegular";
    font-size: 8px;
    margin-top: 1%;
  }
  .team-member.left .team-text-container {
    text-align: left;
  }
  .team-member.right .team-text-container {
    text-align: right;
  }
  .team-text-container p {
    margin: 5px 0;
  }

  .team-text-container p:nth-child(1) {
    font-weight: 100;
    font-size: 10px; /* Set font size for name */
  }

  .team-text-container p:nth-child(2) {
    /* font-style: italic; */
    font-size: 8px; /* Set font size for designation */
    margin-top: -1px;
  }

  .team-text-container p:nth-child(3) {
    font-size: 8px; /* Set font size for description */
    line-height: 12px;
  }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) and (max-width: 1200px) {
  /* yellow  */
  .our-story-content button {
    margin-top: 4%;
    font-size: 22px;
  }

  .img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: nowrap;
    justify-content: center;
    width: 50%;
    margin: 7% auto;
    /* border: 1px solid black; */
    gap: 20px;
  }

  .img-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .img-container img {
    width: 90px;
    margin-bottom: 10px;
  }

  .img-container > div p {
    /* border: 1px solid black; */
    text-align: center;
    font-size: 14px; /* Adjust font size */
    margin-top: 8px;
    font-family: "MontserratRegular";
    white-space: nowrap;
  }

  /* Specific styles for the fourth item, if needed */
  .img-container > div:nth-child(4) img {
    width: 110px;
  }

  /* ORANGE  */

  .our-story-2 > .our-story-semi-circle-2 > .our-story-content button {
    font-size: 22px;
  }

  .our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(1) {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 40px;
    margin-bottom: 1px;
  }

  .our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(2) {
    font-size: 20px;
    line-height: 30px;
    width: 50%;
    margin: auto;
    margin-top: 1%;
    /* overflow: visible; */
  }

  /* RED Screesn  */
  /* RED Screen  */
  .our-story-3 > .our-story-semi-circle-3 > .our-story-content > button {
    font-size: 22px;
  }
  .our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(1) {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 40px;
  }

  .our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(2) {
    font-size: 20px;
    line-height: 30px;
  }

  .our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(3) {
    font-size: 20px;
    line-height: 30px;
    width: 45%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .our-story-after-values {
    font-size: 20px;
    line-height: 30px;
    margin-top: 1%;
    width: 55%;
  }

  .our-story-values-list div {
    font-family: "MontserratRegular";
    width: 100px;
    height: 100px;
    font-size: 12px;
    margin: 10px 10px;
  }

  .our-story-founder {
    width: 80%;
    margin: auto;
  }

  .founder-image {
    width: 150px; /* Set a width for the image */
    margin-right: 15px; /* Space between the image and text */
  }

  #founder-text {
    gap: 0px;
  }

  #founder-text p:nth-child(1) {
    font-size: 20px !important;
    letter-spacing: 0px;
  }
  #founder-text p:nth-child(2) {
    font-size: 20px;
  }
  /* PURPLE  */

  .our-story-semi-circle-4 > .our-story-content button {
    font-size: 26px;
  }
  .our-story-semi-circle-4 > .our-story-content p:nth-child(1) {
    font-size: 26px;
    line-height: 40px;
  }

  .our-story-semi-circle-4 > .our-story-content p:nth-child(2) {
    font-size: 20px;
    line-height: 30px;
    width: 50%;
    margin: auto;
    margin-top: 1%;
  }

  .our-story-image-container {
    bottom: 18%;
    z-index: 10;
  }

  .semicircle-image {
    width: 750px;
  }

  /* BLUE  */

  .our-story-semi-circle-5 > .our-story-content button {
    font-size: 26px;
  }

  .our-story-semi-circle-5 > .our-story-content p:nth-child(1) {
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 40px;
  }

  .our-story-semi-circle-5 > .our-story-content p:nth-child(2) {
    font-size: 20px;
    line-height: 30px;
    width: 48%;
  }

  .team-container {
    max-width: 500px;
    margin: 0 auto; /* Center the container */
    /* height: 350px; */
    /* border: 1px solid black; */
    margin-bottom: 10%;
    margin-top: 2%;
  }
  .team-container-2 {
    max-width: 500px; /* Set a max width for the container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add some padding */
    /* overflow-y: auto; */
    /* height: 350px; */
    /* margin-bottom: 10%; */
    margin-top: 3%;
  }

  .team-member {
    display: flex;
    align-items: center; /* Center align items vertically */
    margin-bottom: 20px;
    /* border: 1px solid white; */
    width: 100%;
  }

  .team-member.left {
    flex-direction: row; /* Image on the left */
    align-items: flex-start;
    justify-content: flex-start;
  }

  .team-member.right {
    /* flex-direction: row-reverse;  */
    justify-content: flex-end;
  }

  .team-member img {
    width: 150px;
    height: auto; /* Maintain aspect ratio */
    margin: 0 10px; /* Space between image and text */
  }

  .team-text-container {
    max-width: 500px;
    font-family: "MontserratRegular";
    font-size: 8px;
    margin-top: 1%;
  }
  .team-member.left .team-text-container {
    text-align: left;
  }
  .team-member.right .team-text-container {
    text-align: right;
  }
  .team-text-container p {
    margin: 5px 0;
  }

  .team-text-container p:nth-child(1) {
    font-weight: 100;
    font-size: 20px; /* Set font size for name */
  }

  .team-text-container p:nth-child(2) {
    /* font-style: italic; */
    font-size: 16px; /* Set font size for designation */
    margin-top: -1px;
  }

  .team-text-container p:nth-child(3) {
    font-size: 14px; /* Set font size for description */
    line-height: 20px;
  }
}

/* medium screen  */
@media screen and (min-width: 1280px) and (max-width: 2000px) {
  /* PURPLE  */
}

/* extra large screen */
@media (min-width: 2000px) and (max-width: 2800px) {
  .our-story-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .our-story-content button {
    margin-top: 2%;
    font-size: 36px;
    padding: 8;
  }

  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%; /* Adjust width as needed */
    gap: 20px;
  }

  .img-container img {
    max-width: 220px; /* Increase image size */
  }

  .img-container > div p {
    font-size: 36px; /* Increase font size for <p> text */
    margin-top: 12px;
  }

  /* Specific styles for the fourth item, if needed */
  .img-container > div:nth-child(4) img {
    max-width: 300px; /* Example width adjustment for a specific item */
  }

  /* ORANGE  */

  .our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(1) {
    font-size: 36px;
    margin-top: 2%;
    letter-spacing: 2px;
    line-height: 50px;
    margin-bottom: 1px;
  }

  .our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(2) {
    font-size: 30px;
    line-height: 40px;
    width: 40%;
    margin: auto;
    margin-top: 2%;
    /* overflow: visible; */
  }

  /* RED Screesn  */
  /* RED Screen  */

  .our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(1) {
    font-size: 36px;
    letter-spacing: 2px;
    line-height: 50px;
  }

  .our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(2) {
    font-size: 30px;
    line-height: 40px;
  }

  .our-story-3 > .our-story-semi-circle-3 > .our-story-content p:nth-child(3) {
    font-size: 30px;
    line-height: 40px;
    width: 45%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .our-story-after-values {
    font-size: 30px;
    line-height: 40px;
    margin-top: 1%;
    width: 55%;
  }

  .our-story-values-list div {
    font-family: "MontserratRegular";
    width: 200px;
    height: 200px;
    font-size: 22px;
    margin: 10px 20px;
  }

  .our-story-founder {
    width: 80%;
    margin: auto;
  }

  .founder-image {
    width: 250px; /* Set a width for the image */
    margin-right: 15px; /* Space between the image and text */
  }

  #founder-text {
    gap: 0px;
  }

  #founder-text p:nth-child(1) {
    font-size: 26px !important;
    letter-spacing: 0px;
  }
  #founder-text p:nth-child(2) {
    font-size: 26px;
  }
  /* PURPLE  */

  .our-story-semi-circle-4 > .our-story-content p:nth-child(1) {
    font-size: 36px;
    line-height: 50px;
  }

  .our-story-semi-circle-4 > .our-story-content p:nth-child(2) {
    font-size: 30px;
    line-height: 45px;
    width: 50%;
    margin: auto;
    margin-top: 1%;
  }

  .our-story-image-container {
    bottom: 18%;
    z-index: 10;
  }

  .semicircle-image {
    width: 1200px;
  }

  /* BLUE  */

  .our-story-semi-circle-5 > .our-story-content p:nth-child(1) {
    font-size: 36px;
    margin-top: 2%;
    letter-spacing: 2px;
    line-height: 50px;
  }

  .our-story-semi-circle-5 > .our-story-content p:nth-child(2) {
    font-size: 30px;
    line-height: 40px;
    width: 48%;
  }

  .team-container {
    max-width: 1500px;
    margin: 0 auto; /* Center the container */
    /* height: 350px; */
    /* border: 1px solid black; */
    margin-bottom: 10%;
    margin-top: 2%;
  }
  .team-container-2 {
    max-width: 1500px; /* Set a max width for the container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add some padding */
    /* overflow-y: auto; */
    /* height: 350px; */
    /* margin-bottom: 10%; */
    margin-top: 3%;
  }

  .team-member {
    display: flex;
    align-items: center; /* Center align items vertically */
    margin-bottom: 30px;
    /* border: 1px solid white; */
    width: 100%;
  }

  .team-member.left {
    flex-direction: row; /* Image on the left */
    align-items: flex-start;
    justify-content: flex-start;
  }

  .team-member.right {
    /* flex-direction: row-reverse;  */
    justify-content: flex-end;
  }

  .team-member img {
    width: 300px;
    height: auto; /* Maintain aspect ratio */
    margin: 0 30px; /* Space between image and text */
  }

  .team-text-container {
    max-width: 1000px;
    font-family: "MontserratRegular";
    font-size: 22px;
    margin-top: 1%;
  }
  .team-member.left .team-text-container {
    text-align: left;
  }
  .team-member.right .team-text-container {
    text-align: right;
  }
  .team-text-container p {
    margin: 10px 0;
  }

  .team-text-container p:nth-child(1) {
    font-weight: 100;
    font-size: 30px; /* Set font size for name */
  }

  .team-text-container p:nth-child(2) {
    /* font-style: italic; */
    font-size: 30px; /* Set font size for designation */
    margin-top: -1px;
  }

  .team-text-container p:nth-child(3) {
    font-size: 22px; /* Set font size for description */
    line-height: 40px;
  }
}
