:root {
  --color-white: rgb(209, 211, 212);
  --color-yellow: rgb(253, 185, 19);
  --color-orange: rgb(243, 112, 33);
  --color-red: rgb(186, 31, 46);
  --color-purple: rgb(129, 42, 132);
  --color-blue: rgb(43, 46, 140);
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent default scrolling */
  height: 100%;
}

.container {
  position: relative; /* Ensure the container positions screens absolutely */
  height: 100vh; /* Each screen will take full height */
  width: 100%; /* Full width */
}

.screen {
  position: fixed; /* Position screens absolutely to overlap */
  height: 100vh; /* Full height */
  width: 100%; /* Full width */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  transition: transform 1.8s ease; /* Smooth transition for opacity */
  top: 0;
}

.screen1 {
  /* opacity: 1;  */
  transform: translateY(0); /* Visible */
  /* background-color: var(--color-orange); */
}

.screen2 {
  /* opacity: 0; */
  transform: translateY(100%);
  /* background-color: var(--color-red); */
}

.screen3 {
  /* opacity: 0; */
  transform: translateY(100%);
  /* background-color: var(--color-purple); */
}

#nextButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  z-index: 100; /* Keep button above other content */
}

#nextButton:hover {
  background: rgba(255, 255, 255, 1); /* Change color on hover */
}

.header {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  background-color: #fff;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 3%;
}

.logo img {
  width: 30%;
}

.right-section {
  width: 10%;
  height: 140%;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 3%;
  flex-direction: column;
  justify-content: center;
}

.nav-item {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-item:nth-child(1) {
  background-color: var(--color-yellow);
}
.nav-item:nth-child(2) {
  background-color: var(--color-orange);
}
.nav-item:nth-child(3) {
  background-color: var(--color-red);
}
.nav-item:nth-child(4) {
  background-color: var(--color-purple);
}
.nav-item:nth-child(5) {
  background-color: var(--color-blue);
}
.nav-item:nth-child(6) {
  background-color: var(--color-white);
}

.semi-circle-1,
.semi-circle-2,
.semi-circle-3 {
  width: 130%;
  height: 100%;
  border-radius: 50% 50% 0% 0%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.semi-circle-1 {
  background-color: var(--color-white);
}
.semi-circle-2 {
  background-color: var(--color-yellow);
}
.semi-circle-3 {
  background-color: var(--color-orange);
}
