@media screen and (max-width: 767px) {
    .programme-content button {
        margin-top: 30px;   
    }
    .programme-content .programme-title {
        font-size: 22px;
        line-height: 40px;
    }
    .programme-semi-circle-1,
    .programme--semi-circle-2,
    .programme-semi-circle-3,
    .programme-semi-circle-4,
    .programme-semi-circle-5,
    .programme-semi-circle-6 {
        width: 170%;
    }
    .programme-semi-circle-1 .programme-content .programme-img-container {
        flex-wrap: wrap;
        gap: 10px;
        row-gap: 50px;
    }
     .programme-semi-circle-1 .programme-content .programme-img-container > div{
        /* height: 150px; */
        max-width: 35%;
        gap: 10px;
    }
}