@import url('./mobile.css');
@import url("./tablet.css");
@import url("./large.css");
@import url("./xl.css");

* {
  font-family: "Montserrat";
}
.programme-1 {
  transform: translateY(100%);
}

.programme-semi-circle-1,
.programme--semi-circle-2,
.programme-semi-circle-3,
.programme-semi-circle-4,
.programme-semi-circle-5,
.programme-semi-circle-6 {
  height: 100%;
  border-radius: 50% 50% 0% 0%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.programme-semi-circle-1 {
  background-color: var(--color-red);
}

.programme--semi-circle-2 {
  background-color: var(--color-purple);
}

.programme-semi-circle-3 {
  background-color: var(--color-blue);
}

.programme-semi-circle-4 {
  background-color: var(--color-yellow);
}

.programme-semi-circle-5 {
  background-color: var(--color-orange);
}

.programme-semi-circle-6 {
  background-color: var(--color-red);
}

.programme-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 50;
  margin-top: 2%;
  text-align: center;
}

.programme-content button {
  background-color: #fff;
  border-radius: 50px;
  font-family: "MontserratRegular";
  padding: 5px 20px;
  border: none;
  font-size: 14px;
  font-weight: 800;
  font-weight: bold;
}

.programme-semi-circle-1 .programme-content button {
  color: var(--color-red);
}
.programme-semi-circle-2 .programme-content button {
  color: var(--color-purple);
}
.programme-semi-circle-3 .programme-content button {
  color: var(--color-blue);
}
.programme-semi-circle-4 .programme-content button {
  color: var(--color-yellow);
}
.programme-semi-circle-5 .programme-content button {
  color: var(--color-orange);
}
.programme-semi-circle-6 .programme-content button {
  color: var(--color-red);
}
.programme-content div > img.kids-icon{
  width: 170px;
}
.programme-content .programme-title {
  font-weight: 400;
  margin-top: 50px;
}
.programme-content .programme-title2 {
  /* font-size: 18px;
  margin-top: -10px;
  font-weight: 500; */
}

.description-text{
  font-size: 16px;
  margin-top: 0px;
  line-height: 30px;
 }

/*******************************************************
 *                                                     *
 *            PROGRAMMES Screen 1                      *
 *                                                     *
 *******************************************************/

.programme-semi-circle-1 .programme-content>div:first-child {
  font-weight: bold;
  padding-top: 50px;
}

.programme-semi-circle-1 .programme-content .programme-img-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 4% auto;
    justify-items: center;
    align-items: start;
    box-sizing: border-box;
 }
 .programme-semi-circle-1 .programme-content .programme-img-container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }
 .programme-semi-circle-1 .programme-content .programme-img-container img {
  width: 80px;
  height: 80px;
 }

 .programme-semi-circle-1 .programme-content .programme-img-container p {
  font-size: 16px;
 }

 .programme-semi-circle-1 .programme-content .programme-img-container div:nth-child(1) p {
    color: var(--color-yellow);
 }
 .programme-semi-circle-1 .programme-content .programme-img-container div:nth-child(2) p {
    color: var(--color-orange);
 }
.programme-semi-circle-1 .programme-content .programme-img-container div:nth-child(3) p {
    color: var(--color-blue);
 }
 .programme-semi-circle-1 .programme-content .programme-img-container div:nth-child(4) p {
    color: var(--color-white);
 }
 .programme-semi-circle-1 .programme-content .programme-img-container div:nth-child(5) p {
    color: var(--color-yellow);
 }
