.video {
    width: 110%;
    left: 2%;
    top: auto;
    bottom: 14%;
}

.book{
    font-size: 22px;
    width: auto;
    height: auto;
    padding: 20px 25px;
}
.header{
    width: 100vw;
    justify-content: space-between;
}

.right-section {
    justify-content: space-between;
}

.nav-text {
    font-size: 24px;
}

.screen-tittle { 
    font-size: 32px;
}
.screen-title-l2{
    font-size: 42px;
    line-height: 60px;
}

.screen-description{
  font-size: 28px;
  line-height: 45px;
}

.screen2 .values-container .values .letter-circle{
  font-size: 32px;
  width: 80px;
  height: 80px;
}

.screen2 .values-container .values .value p{
    font-size: 26px;
}

.screen2 .values-container p:first-child {
    font-size: 24px;
}
