.video {
    width: 110%;
    left: 2%;
    top: auto;
    bottom: 14%;
}

.book{
    font-size: 22px;
    width: auto;
    height: auto;
    padding: 20px 25px;
}
.header{
    width: 100vw;
    justify-content: space-between;
}

.right-section {
    justify-content: space-between;
}

.nav-text {
    font-size: 24px;
}

.screen-title { 
    font-size: 32px;
}
.screen-title-l2{
    font-size: 42px;
    line-height: 60px;
}

.screen-description{
  font-size: 28px;
  line-height: 45px;
}

.screen2 .values-container .values .letter-circle{
  font-size: 32px;
  width: 80px;
  height: 80px;
}

.screen2 .values-container .values .value p{
    font-size: 26px;
}

.screen2 .values-container p:first-child {
    font-size: 24px;
}

img.circles_home {
  width: 12%;
  margin-top: 10px;
}


.connect-us-container .connect-us-container-title {
    font-size: 32px;
  }

  .connect-us-icons>div img{
    width: 55px;
    height: 55px;
  }
  .connect-us-icons>div p{
    margin-right: 40px;
  }

  .connect-us-icons .contact-adress{
    font-size: 32px;
  }
  .connect-us-icons > div:nth-child(2){
    width: 55%;
  }
  .connect-us-icons > div:nth-child(3){
    width: 30%;
  }
  .connect-us-icons .phonecontainer{
    font-size: 32px;
  }
  .emailLink{
    font-size: 32px;
  }

  .other-logos-container .other-logos-one img {
    margin: auto;
  }

  .our-story-1 .img-container>div img{
        width: 350px;
  } 


  .our-story-4 .our-story-semi-circle-4 > .our-story-content button {
    font-size: 34px;
    padding: 0xp 20px;
  }
  .our-story-4 .our-story-semi-circle-4 > .our-story-content p:nth-child(1) {
    font-size: 32px;
  }
  .our-story-4 .our-story-semi-circle-4 > .our-story-content p:nth-child(2) {
    font-size: 28px;
    width: 60%;
    line-height: 60px;
  }
  .our-story-image-container {
    left: -24%;
  }