.video {
    width: 130%;
    left: 2%;
}

.screen-title-l2 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.screen-description{
  font-size: 16px;
  line-height: 18px;
  width: 65%;
  text-align: center;
}

.screen2 .values-container .values{
  gap: 20px;
  margin-top: 15px;
  flex-wrap: wrap;
  width: 80%;
}

.nav-button img {
  width: 20px;
}

img.circles_home {
  margin-top: 30px;
  width: 25%;
  margin-top: 22px;
}

.key-facts-three {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 30%;
}

.key-facts-two{
  display: flex;
  width: 70%;
  flex-direction: column;
  padding-left: 30%;
}
.fact-item img{
  width: 50px;
}
.fact-text{
  font-size: 18px;
}