.video {
  width: 130%;
  left: 2%;
}

.nav-item {
  height: 20px;
  width: 20px;
  margin: 4px;
}
.nav-text {
  right: 30px;
  font-size: 14px;
}

.screen-title-l2 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.screen-description {
  font-size: 16px;
  line-height: 18px;
  width: 65%;
  text-align: center;
}

.screen2 .values-container .values {
  gap: 20px;
  margin-top: 15px;
  flex-wrap: wrap;
  width: 80%;
}

.nav-button img {
  width: 20px;
}

img.circles_home {
  margin-top: 30px;
  width: 25%;
  margin-top: 22px;
}

.key-facts-three {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 30%;
}

.key-facts-two {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding-left: 30%;
}
.fact-item img {
  width: 50px;
}
.fact-text {
  font-size: 18px;
}

.age-inputs {
  width: 100%;
  margin: 0px;
}

.age-inputs input {
  width: 40%;
  margin: 0px;
}

/*******************************************************
 *             Our story screen 2                      *
 *******************************************************/

.our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(1) {
  font-family: "MontserratRegular";
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(2) {
  font-family: "MontserratRegular";
  font-size: 12px;
  line-height: 16px;
  width: 45%;
  margin: auto;
  margin-top: 1%;
}

/*******************************************************
 *            WHY US SCREEN 2                     *
 *******************************************************/

.why-us-value {
  width: 100px;
}
/*******************************************************
 *            PROGRAMMS SCREEN 1                    *
 *******************************************************/
.semi-circle .programme-content .programme-img-container {
  flex-wrap: wrap;
  width: 70%;
}
.semi-circle .programme-content .programme-img-container div img {
  width: 50px;
}
.programme-content .programme-title {
  font-size: 20px;
}

.programme-img-container p {
  font-size: 14px !important;
  margin: 0px 15px;
}

/*******************************************************
 *            PROGRAMMS SCREEN 2                    *
 *******************************************************/

.programme-title2 {
  margin-top: 5px;
}

.programme-2 .description-text {
  width: 70%;
  margin: auto;
}

.programme-3 .description-text {
  width: 70%;
  margin: auto;
}
.programme-4 .description-text {
  width: 70%;
  margin: auto;
}

.programme-5 .description-text {
  width: 70%;
  margin: auto;
}

.programme-6 .description-text {
  width: 70%;
  margin: auto;
}

/*******************************************************
 *            ADMISSION SCREEN                     *
 *******************************************************/
.admission-arrow-img {
  width: 20%;
  margin: 20px auto;
}
