.video{
    top: 0%;
    bottom: 20%;
    height: auto;
    width: 242%;
    left: -9%;
}

.semi-circle {
  width: 130%;
  height: 75%;
  bottom: 0px;
  top: auto;
  left: -16%;
  border-radius: 50% 50% 0% 0%;
}

 .logo img {
    width: 60%;
  }

.book {
  top: 80%;
  font-size: 12px;
  padding: 2px;
}

.screen-title-l2 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
  width: 70%;
  margin: auto;
}

.screen-description{
  font-size: 14px;
  line-height: 18px;
  width: 70%;
}

.screen2 .values-container .values{
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
  width: 70%;
}
.screen2 .values-container .values .value{  
  width: 30%;
}

/* Screen 3 */

.screen3 .screen-description{
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Carouser navigation */
.circles-container-infra, .circles-container {
  gap: 10px;
}
.circular-item {
  width: 145px;
  height: 145px;
  margin: 0 5px;
}

.left {
  margin-right:5px;
  margin-left: 10px;
}
.right {
  margin-left: 10px;
}
.circular-item h3{
  margin-top: 13%;
  font-size: 8px;
}

.circular-item p {
  font-size: 8px;
  margin-top: -4%;
  line-height: 10px;
  text-align: center;
}
.circular-keys{
  gap: 8px;
  width: 70%;
  margin: 20px auto;
}

.nav-button img {
  width: 20px;
}
