.video{
    top: 0%;
    bottom: 20%;
    height: auto;
    width: 242%;
    left: -9%;
}

.semi-circle {
  width: 130%;
  height: 75%;
  bottom: 0px;
  top: auto;
  left: -16%;
  border-radius: 50% 50% 0% 0%;
}

 .logo img {
    width: 60%;
  }

.book {
  top: 80%;
  font-size: 12px;
  padding: 2px;
}

.screen-title-l2 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}

.screen-description{
  font-size: 14px;
  line-height: 18px;
  width: 70%;
}

.screen2 .values-container .values{
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
  width: 70%;
}
.screen2 .values-container .values .value{  
  width: 30%;
}