.video {
  width: 110%;
  left: 2%;
  top: auto;
  bottom: 14%;
}

img.circles_home {
  margin-top: 30px;
  width: 25%;
  margin-top: 50px;
}

.screen-description {
  font-size: 20px;
  line-height: 30px;
}
/* 
Our Story 2
*/
.our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(1) {
  font-size: 32px;
  line-height: 60px;
  margin-top: 50px;
}

.our-story-2 > .our-story-semi-circle-2 > .our-story-content p:nth-child(2) {
  margin-top: 30px;
  font-size: 22px;
  line-height: 36px;
  width: 70%;
}

/* 
Our Story 3
*/

.our-story-3 .our-story-semi-circle-3 > .our-story-content div p:first-child {
  margin: 20px auto;
  font-size: 28px;
  line-height: 40px;
}

.our-story-3 .our-story-semi-circle-3 > .our-story-content div p:nth-child(2) {
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.our-story-3 .our-story-semi-circle-3 > .our-story-content div p:nth-child(3) {
  font-size: 20px;
  margin-bottom: 10px;
}
.our-story-3 .our-story-semi-circle-3 > .our-story-content div p:nth-child(5) {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 
Our Story 4
*/

.our-story-4 .our-story-semi-circle-4 > .our-story-content p:nth-child(1) {
  font-size: 28px;
}
.our-story-4 .our-story-semi-circle-4 > .our-story-content p:nth-child(2) {
  font-size: 24px;
  width: 60%;
  line-height: 40px;
}
.our-story-image-container {
  left: -24%;
}

.our-story-semi-circle-5 > .our-story-content p:nth-child(1) {
  font-size: 18px;
  line-height: 32px;
}

.our-story-semi-circle-5 > .our-story-content p:nth-child(2) {
  font-size: 18px;
  line-height: 28px;
}

.team-member img {
  width: 200px;
}

.team-member {
  width: 100%;
}
.team-text-container p:nth-child(1) {
  font-size: 18px;
}

.team-text-container p:nth-child(2) {
  font-size: 16px;
  margin-top: -1px;
}

.team-text-container p:nth-child(3) {
  font-size: 14px;
  line-height: 20px;
}

img.circles_home {
  width: 20%;
  margin-top: 10px;
}

.why-us-4 .screen-title {
  font-size: 20px;
  margin-top: 0px;
}
.why-us-3 .screen-title-l2,
.why-us-4 .screen-title-l2 {
  font-size: 16px;
  margin-top: 0px;
}
.why-us-4 .screen-description {
  font-size: 18px;
  margin-top: 20px;
  line-height: 32px;
}

.why-us-image-container-4 {
  width: 50%;
  margin: auto;
}
.why-us-item-4 {
  max-width: 100%;
}
.why-us-text-4 {
  width: 100%;
  text-align: center;
}
.why-us-text-4 p {
  width: 70%;
  font-size: 18px;
  line-height: 30px;
}

.why-us-5 .semi-circle .screen-description {
  font-size: 20px;
  margin-bottom: 25px;
  width: 40%;
  margin-top: 20px;
  line-height: 35px;
}

.why-us-item img {
  width: 200px;
}
.why-us-item .why-us-title {
  font-size: 22px;
  margin-top: 20px;
}

.why-us-item .why-us-description {
  font-size: 20px;
}

.why-us-6 .screen-title {
  font-size: 28px;
}
.why-us-6 .screen-description {
  font-size: 24px;
  line-height: 40px;
}

.programme-content {
  width: 90%;
  margin: auto;
  padding-top: 50px;
}
.programme-content button {
  font-size: 32px !important;
}
.programme-content .programme-title {
  line-height: 50px;
}
.programme-content .description-text {
  font-size: 24px;
}

.programme-img-container {
  gap: 20px;
}
.programme-img-container div {
  width: 15%;
}
.programme-img-container div img {
  width: 250px;
}
.programme-content .programme-title {
  font-size: 24px;
}
.programme-content .programme-title2 {
  font-size: 22px;
}

.programme-content div > img.kids-icon {
  width: 250px;
  margin-top: 20px;
}

.programme-content .description-text {
  font-size: 20px;
  line-height: 40px;
  margin-top: 30px;
  width: 50%;
}

.admission-content button {
  font-size: 28px;
  padding: 10px 30px;
}
.admission-content .screen-description {
  font-size: 20px;
  line-height: 40px;
}
.admission-content .title-level-1 {
  line-height: 50px;
  margin-top: 50px;
}

.admission-img-container img {
  width: 260px;
}

.admission-img-container > div:first-child img {
  max-width: 200px;
}
.admission-img-container > div:nth-child(2) img {
  max-width: 110px;
}
.admission-img-container > div:nth-child(3) img {
  max-width: 130px;
}
.admission-img-container > div:nth-child(4) img {
  max-width: 130px;
}

.admission-img-container > div p {
  font-size: 20px;
}

.admission-arrow-img {
  margin-top: 20px;
  width: 250px;
}

.small-text {
  font-size: 28px;
  line-height: 40px;
}

.semi-circle .large-text {
  font-size: 42px;
  line-height: 60px;
}

.admission-content > .letter-circle {
  width: 350px;
  height: 350px;
  line-height: 50px;
  font-size: 40px;
}

#booking-form p,
#admission-booking-form p {
  text-align: center;
  font-size: 28px;
  margin: 20px auto;
  text-transform: uppercase;
  font-weight: bold;
}

#submit-button {
  font-size: 32px;
}

.screen7 .semi-circle {
  background-color: var(--color-white);
}

.email-item a {
  font-size: 22px !important;
}
.mobile-item p {
  font-size: 22px !important;
}
.address-item p {
  font-size: 22px !important;
  line-height: 30px;
}
.connect-us-icons p {
  font-size: 18px;
}

/* Carousal  */

.why-us-carousal {
  width: 21%;
}

.why-us-carousal-left,
.why-us-carousal-right {
  width: 40px;
  height: 40px;
}

.why-us-carousal-outer-container {
  width: 90%;
}
.why-us-carousal-left {
  left: -50px;
}

.why-us-carousal-right {
  right: -50px;
}
