.video {
    top: auto;
    bottom: 20%;
    width: 121%;
}

img.circles_home {
  margin-top: 30px;
  width: 25%;
  margin-top: 22px;
}

.key-facts-three {
  width: 70%;
  gap: 10px;
}
.fact-item img{
  width: 70px;
}

.fact-text{
  font-size: 22px;
}

.screen4 .screen-description{
  font-size: 42px;
  border: 4px solid green;
}

 .circles-container {
  margin-top: -500px;
  border: 120px solid red;
}


.screen6 .nav-button.left img {
    width: 30px;
}

.screen6 .nav-button.right img {
    width: 30px;
}