.video {
  top: auto;
  bottom: 20%;
  width: 121%;
}

.nav-item {
  margin: 2px;
}

img.circles_home {
  margin-top: 30px;
  width: 25%;
  margin-top: 22px;
}

.key-facts-three {
  width: 70%;
  gap: 10px;
}
.fact-item img {
  width: 70px;
}

.fact-text {
  font-size: 22px;
}

.right-section {
  /* width: 50%; */
  /* border: 1px solid black; */
}
/* Yellow Section  (What We do Screen)   */

.screen2 .values-container {
  margin-top: 0%;
}

.screen2 .values-container .values {
  display: flex;
  justify-content: center;
  width: 100%;
}

.screen2 .values-container .values .value {
  margin: 0 15px;
}

.screen2 .values-container .values .value {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* orange screen */
.circular-keys {
  margin-top: 2%;
}
.circular-item.active {
  transform: scale(1); /* Active circle scaling */
}

/* red screen */
.screen4 .screen-title-l2 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 0px;
}
.screen4 .screen-description {
  font-size: 20px;
  line-height: 25px;
  width: 50%;
}
img.circles_home {
  width: 14%;
}

/* purple screen  */
.screen5 .key-facts-three {
  margin-top: 5% !important;
}

/* whity  */
.connect-us-icons img {
  margin: 0 10px;
}

.connect-us-icons a {
  text-decoration: none;
  color: var(--color-blue);
}

/* why us  */
.why-us-2 .screen-title-l2 {
  margin-top: 0px;
}
.why-us-3 .screen-title {
  text-transform: uppercase;
}
.why-us-4 .screen-title {
  text-transform: uppercase;
}

/*******************************************************
 *            PROGRAMMS SCREEN 1                    *
 *******************************************************/
.semi-circle .programme-content .programme-img-container div img {
  width: 70px;
}

.programme-img-container p {
  font-size: 14px !important;
  margin: 10px 15px;
}

.programme-title2 {
  margin-top: -10px;
}
.programme-2 .description-text {
  width: 70%;
  margin: auto;
}
.programme-3 .description-text {
  width: 70%;
  margin: auto;
}
.programme-4 .description-text {
  width: 70%;
  margin: auto;
}

.programme-5 .description-text {
  width: 70%;
  margin: auto;
}

.programme-6 .description-text {
  width: 70%;
  margin: auto;
}
/*******************************************************
 *            ADMISSION SCREEN                     *
 *******************************************************/
.admission-arrow-img {
  width: 10%;
  margin: 0px 0;
}

/*******************************************************
 *            ADMISSIONS Screen 4                      *
 *******************************************************/
.admission-1 button {
  color: var(--color-purple);
}
.admission-2 button {
  color: var(--color-blue);
}
.admission-4 button {
  color: var(--color-yellow);
}

#title-container .small-text {
  font-size: 22px;
}

#title-container .large-text {
  font-size: 26px;
  margin-top: 0px;
}

form {
  gap: 10px;
  width: 95%;
}

label {
  width: 40%;
  font-size: 18px;
}
.form-field input {
  width: 60%;
}

.age-inputs {
  width: 62%;
}

.screen7 .semi-circle {
  background-color: var(--color-white);
}

.form-field button {
  background-color: var(--color-red);
  color: var(--color-white);
}

.admission-content button {
  font-size: 22px;
  padding: 10px 30px;
}
.admission-content .title-level-1 {
  font-size: 20px;
}
.admission-content .title-level-1 {
  line-height: 30px;
  margin-top: 30px;
}

.admission-img-container img {
  width: 150px;
}

.admission-img-container > div:first-child img {
  max-width: 160px;
}
.admission-img-container > div:nth-child(2) img {
  max-width: 90px;
}
.admission-img-container > div:nth-child(3) img {
  max-width: 130px;
}
.admission-img-container > div:nth-child(4) img {
  max-width: 130px;
}

.admission-img-container > div p {
  font-size: 20px;
}

.admission-arrow-img {
  margin-top: 30px;
  width: 250px;
}

.semi-circle .small-text:first-child {
  margin-bottom: 20px;
}

.semi-circle .large-text {
  font-size: 18px;
  line-height: 50px;
}

.admission-content > .letter-circle {
  width: 300px;
  height: 300px;
  font-size: 32px;
  line-height: 45px;
}
.admission-content .screen-description {
  line-height: 34px;
}

.connect-us-icons {
  gap: 10px;
  /* border: 10px solid red; */
}

/* POPUP  */
